In [2]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

In [3]:
len(STOP_WORDS)

326

In [4]:
nlp = spacy.load('en_core_web_sm')

doc = nlp('We just opened our wings, the flying part is coming soon')

tokens = [token.text for token in doc]
print("Tokens List: ",tokens)

token_istop = [token.text for token in doc if token.is_stop]
print("Stop Word are: ",token_istop)

Tokens List:  ['We', 'just', 'opened', 'our', 'wings', ',', 'the', 'flying', 'part', 'is', 'coming', 'soon']
Stop Word are:  ['We', 'just', 'our', 'the', 'part', 'is']

In [15]:
def preprocess(text):
    doc = nlp(text)
    no_stop_word = [token.text for token in doc if not token.is_stop]
    return " ".join(no_stop_word)

In [16]:
preprocess('We just opened our wings, the flying part is coming soon')

'opened wings , flying coming soon'

Remove stop words from pandas dataframe text column

In [7]:
import pandas as pd

df = pd.read_json('../Dataset/combined.json',lines=True)

df.shape

(13087, 6)

In [8]:
df.head()

,id,title,contents,date,topics,components
0,None,Convicted Bomb Plotter Sentenced to 30 Years,"PORTLAND, Oregon. – Mohamed Osman Mohamud, 23,...",2014-10-01T00:00:00-04:00,[],[National Security Division (NSD)]
1,12-919,$1 Million in Restitution Payments Announced t...,WASHINGTON – North Carolina’s Waccamaw River...,2012-07-25T00:00:00-04:00,[],[Environment and Natural Resources Division]
2,11-1002,$1 Million Settlement Reached for Natural Reso...,BOSTON– A $1-million settlement has been...,2011-08-03T00:00:00-04:00,[],[Environment and Natural Resources Division]
3,10-015,10 Las Vegas Men Indicted \r\nfor Falsifying V...,WASHINGTON—A federal grand jury in Las Vegas...,2010-01-08T00:00:00-05:00,[],[Environment and Natural Resources Division]
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]

In [9]:
df['topics'][:10]

0                       []
1                       []
2                       []
3                       []
4            [Environment]
5                       []
6                       []
7    [Consumer Protection]
8                       []
9                       []
Name: topics, dtype: object

In [10]:
df = df[df['topics'].str.len() != 0]
df.head()

,id,title,contents,date,topics,components
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division]
7,14-1412,14 Indicted in Connection with New England Com...,A 131-count criminal indictment was unsealed t...,2014-12-17T00:00:00-05:00,[Consumer Protection],[Civil Division]
19,17-1419,2017 Southeast Regional Animal Cruelty Prosecu...,The United States Attorney’s Office for the Mi...,2017-12-14T00:00:00-05:00,[Environment],"[Environment and Natural Resources Division, U..."
22,15-1562,21st Century Oncology to Pay $19.75 Million to...,"21st Century Oncology LLC, has agreed to pay $...",2015-12-18T00:00:00-05:00,"[False Claims Act, Health Care Fraud]",[Civil Division]
23,17-1404,21st Century Oncology to Pay $26 Million to Se...,21st Century Oncology Inc. and certain of its ...,2017-12-12T00:00:00-05:00,"[Health Care Fraud, False Claims Act]","[Civil Division, USAO - Florida, Middle]"

In [11]:
df.shape

(4688, 6)

In [17]:
df['contents_new'] = df.contents.apply(preprocess)

In [18]:
df.head()

,id,title,contents,date,topics,components,contents_new
4,18-898,$100 Million Settlement Will Speed Cleanup Wor...,"The U.S. Department of Justice, the U.S. Envir...",2018-07-09T00:00:00-04:00,[Environment],[Environment and Natural Resources Division],"U.S. Department Justice , U.S. Environmental P..."
7,14-1412,14 Indicted in Connection with New England Com...,A 131-count criminal indictment was unsealed t...,2014-12-17T00:00:00-05:00,[Consumer Protection],[Civil Division],131 - count criminal indictment unsealed today...
19,17-1419,2017 Southeast Regional Animal Cruelty Prosecu...,The United States Attorney’s Office for the Mi...,2017-12-14T00:00:00-05:00,[Environment],"[Environment and Natural Resources Division, U...",United States Attorney Office Middle District ...
22,15-1562,21st Century Oncology to Pay $19.75 Million to...,"21st Century Oncology LLC, has agreed to pay $...",2015-12-18T00:00:00-05:00,"[False Claims Act, Health Care Fraud]",[Civil Division],"21st Century Oncology LLC , agreed pay $ 19.75..."
23,17-1404,21st Century Oncology to Pay $26 Million to Se...,21st Century Oncology Inc. and certain of its ...,2017-12-12T00:00:00-05:00,"[Health Care Fraud, False Claims Act]","[Civil Division, USAO - Florida, Middle]",21st Century Oncology Inc. certain subsidiarie...

In [27]:
print("Original content size: ",len(df['contents'][4])," | ", "After stopword removal: ",len(df['contents_new'][4]))

Original content size:  6286  |  After stopword removal:  4810

In [30]:
df['contents'][4][:300]

'The U.S. Department of Justice, the U.S. Environmental Protection Agency (EPA), and the Rhode Island Department of Environmental Management (RIDEM) announced today that two subsidiaries of Stanley Black & Decker Inc.—Emhart Industries Inc. and Black & Decker Inc.—have agreed to clean up dioxin conta'

In [31]:
df['contents_new'][4][:300]

'U.S. Department Justice , U.S. Environmental Protection Agency ( EPA ) , Rhode Island Department Environmental Management ( RIDEM ) announced today subsidiaries Stanley Black & Decker Inc.—Emhart Industries Inc. Black & Decker Inc.—have agreed clean dioxin contaminated sediment soil Centredale Manor'

Excercise

In [34]:
text = '''
Thor: Love and Thunder is a 2022 American superhero film based on Marvel Comics featuring the character Thor, produced by Marvel Studios and 
distributed by Walt Disney Studios Motion Pictures. It is the sequel to Thor: Ragnarok (2017) and the 29th film in the Marvel Cinematic Universe (MCU).
The film is directed by Taika Waititi, who co-wrote the script with Jennifer Kaytin Robinson, and stars Chris Hemsworth as Thor alongside Christian Bale, Tessa Thompson,
Jaimie Alexander, Waititi, Russell Crowe, and Natalie Portman. In the film, Thor attempts to find inner peace, but must return to action and recruit Valkyrie (Thompson),
Korg (Waititi), and Jane Foster (Portman)—who is now the Mighty Thor—to stop Gorr the God Butcher (Bale) from eliminating all gods.
'''

docs = nlp(text)
print([token.text for token in docs])

['\n', 'Thor', ':', 'Love', 'and', 'Thunder', 'is', 'a', '2022', 'American', 'superhero', 'film', 'based', 'on', 'Marvel', 'Comics', 'featuring', 'the', 'character', 'Thor', ',', 'produced', 'by', 'Marvel', 'Studios', 'and', '\n', 'distributed', 'by', 'Walt', 'Disney', 'Studios', 'Motion', 'Pictures', '.', 'It', 'is', 'the', 'sequel', 'to', 'Thor', ':', 'Ragnarok', '(', '2017', ')', 'and', 'the', '29th', 'film', 'in', 'the', 'Marvel', 'Cinematic', 'Universe', '(', 'MCU', ')', '.', '\n', 'The', 'film', 'is', 'directed', 'by', 'Taika', 'Waititi', ',', 'who', 'co', '-', 'wrote', 'the', 'script', 'with', 'Jennifer', 'Kaytin', 'Robinson', ',', 'and', 'stars', 'Chris', 'Hemsworth', 'as', 'Thor', 'alongside', 'Christian', 'Bale', ',', 'Tessa', 'Thompson', ',', '\n', 'Jaimie', 'Alexander', ',', 'Waititi', ',', 'Russell', 'Crowe', ',', 'and', 'Natalie', 'Portman', '.', 'In', 'the', 'film', ',', 'Thor', 'attempts', 'to', 'find', 'inner', 'peace', ',', 'but', 'must', 'return', 'to', 'action', 'and', 'recruit', 'Valkyrie', '(', 'Thompson', ')', ',', '\n', 'Korg', '(', 'Waititi', ')', ',', 'and', 'Jane', 'Foster', '(', 'Portman)—who', 'is', 'now', 'the', 'Mighty', 'Thor', '—', 'to', 'stop', 'Gorr', 'the', 'God', 'Butcher', '(', 'Bale', ')', 'from', 'eliminating', 'all', 'gods', '.', '\n']

In [42]:
stopword_count = 0
total_word = 0

for token in docs:
    total_word += 1
    if token.is_stop:
        stopword_count+=1

print("Totalword count: ",total_word)
print("Stopword count: ",stopword_count)
print("% of stop word comp to total words: ", ((stopword_count/total_word)*100))

Totalword count:  160
Stopword count:  40
% of stop word comp to total words:  25.0

Spacy default implementation considers "not" as a stop word. But in some scenarios removing 'not' will completely change the meaning of the statement/text. For Example, consider these two statements:

- this is a good movie       ----> Positive Statement
- this is not a good movie   ----> Negative Statement
So, after applying stopwords to those 2 texts, both will return "good movie" and does not respect the polarity/sentiments of text.

Now, your task is to remove this stop word "not" in spaCy and help in distinguishing the texts.

In [43]:
nlp.vocab['not'].is_stop = False

positive_text = preprocess('this is a good movie')
negative_text = preprocess('this is not a good movie')

print(f"Text1: {positive_text}")
print(f"Text2: {negative_text}")

Text1: good movie
Text2: not good movie

From a given text, output the most frequently used token after removing all the stop word tokens and punctuations in it.

In [49]:
text = ''' The India men's national cricket team, also known as Team India or the Men in Blue, represents India in men's international cricket.
It is governed by the Board of Control for Cricket in India (BCCI), and is a Full Member of the International Cricket Council (ICC) with Test,
One Day International (ODI) and Twenty20 International (T20I) status. Cricket was introduced to India by British sailors in the 18th century, and the 
first cricket club was established in 1792. India's national cricket team played its first Test match on 25 June 1932 at Lord's, becoming the sixth team to be
granted test cricket status.
'''
docss = nlp(text)
remaining_token = []

for token in docss:
    if token.is_stop or token.is_punct:
        continue
    remaining_token.append(token)

print("Remaining token are: ",remaining_token)

Remaining token are:  [ , India, men, national, cricket, team, known, Team, India, Men, Blue, represents, India, men, international, cricket,
, governed, Board, Control, Cricket, India, BCCI, Member, International, Cricket, Council, ICC, Test,
, Day, International, ODI, Twenty20, International, T20I, status, Cricket, introduced, India, British, sailors, 18th, century,
, cricket, club, established, 1792, India, national, cricket, team, played, Test, match, 25, June, 1932, Lord, sixth, team,
, granted, test, cricket, status,
]

In [58]:
frequency_tokens = {}
for token in remaining_token:
    token_text = token.text.strip() # Use strip() to handle potential leading/trailing whitespace
    if token_text and not token.is_space: # Check if token_text is not empty after stripping and token is not just space
        if token_text not in frequency_tokens:
            frequency_tokens[token_text] = 1
        else:
            frequency_tokens[token_text] +=1 

print("Frequency dict are: ",frequency_tokens)
if frequency_tokens:
    max_freq_word = max(frequency_tokens.keys(), key=(lambda key: frequency_tokens[key]))
    print(f"Maximum freq word: {max_freq_word}")
else:
    print("No frequent words found after filtering.")

Frequency dict are:  {'India': 6, 'men': 2, 'national': 2, 'cricket': 5, 'team': 3, 'known': 1, 'Team': 1, 'Men': 1, 'Blue': 1, 'represents': 1, 'international': 1, 'governed': 1, 'Board': 1, 'Control': 1, 'Cricket': 3, 'BCCI': 1, 'Member': 1, 'International': 3, 'Council': 1, 'ICC': 1, 'Test': 2, 'Day': 1, 'ODI': 1, 'Twenty20': 1, 'T20I': 1, 'status': 2, 'introduced': 1, 'British': 1, 'sailors': 1, '18th': 1, 'century': 1, 'club': 1, 'established': 1, '1792': 1, 'played': 1, 'match': 1, '25': 1, 'June': 1, '1932': 1, 'Lord': 1, 'sixth': 1, 'granted': 1, 'test': 1}
Maximum freq word: India